[Desktop Entry]
Version=1.0
Name=Ushare-gui
Comment=Gui for ushare upnp server
Exec=ushare-start
Icon=usharegui
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Application;Internet;Network
