Source: ushare-gui
Maintainer: Laguillaumie sylvain <s.lagui@free.fr>
Section: net
Version: 0.1
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4), python-distutils-extra
Standards-Version: 3.8.4
XS-Python-Version: current

Package: ushare-gui
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-glade2, python-configobj
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
Description: Gui for ushare upnp server

